html {
    scroll-behavior: smooth;
}

.section-anchor {
    position: relative;
    top: -80px; /* Відступ, щоб заголовок не перекривався */
    display: block;
    height: 1px;
}

.text-paragraph {
    text-indent: 30px;
    text-align: justify;
    margin-bottom: 16px;
}